# Multicore web application server.
gunicorn==19.1.1

# Better HTTP api calls, used by vmstub.py.
requests==2.5.0

# Required by the base runtime.
webapp2==2.5.2
WebOb==1.4

# Required to parse app.yaml.
PyYAML==3.11

# Better request/response processing for the meta app.
Werkzeug==0.10

# Non-blocking I/O libs are not included here because they are installed by
# `apt-get install python-greenlet python-eventlet`
# to avoid having to install compilers and dev libraries in every container.
